<html>

    
    
    <h1>
        电影：《横空出世》
    </h1>
    <img src="/static/images/腾空出世.webp.jpg"
    <p>
    <a href ="https://www.bilibili.com/video/BV1EW411u7j5/?spm_id_from=333.1007.tianma.1-1-1.click&vd_source=3c27d8373e906642030fae93781e2a04">
        点我立即观看
    </a>
    <p>
        提示：点击后会跳转至bilibili页面，点击电影即可开始观看
    </p>
    
    </p>
    <p>
        端口：bilibili 
        
    </p>
    <p>
        电脑端可直接进行观看
        
    </p>
    <p>
        手机端需要下载bilibili
    </p>
    <h1>
        电影选段：《我和我的祖国》   
    </h1>
    <img src="/static/images/HTML JMEC.jpg">
    <p>
    <a href ="https://www.bilibili.com/video/BV1v34y1p7My/?spm_id_from=333.337.search-card.all.click&vd_source=3c27d8373e906642030fae93781e2a04">
        点我立即观看
    </a>
    
    </p>
    <p>
        提示：可以在右侧进行选集，每集大约8分钟左右，包含两个片段：《前夜》，《相遇》
        
    </p>
    <p>
        端口：bilibili 
        
    </p>
    <p>
         
        电脑端可直接进行观看
        
    </p>
    <p>
        手机端需要下载bilibili
    </p>
    
    

</html>




