<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的装扮</title>
    <canvas style="position: absolute;"></canvas>
    <script src="/static/js/js1.js"></script>
    <link rel="stylesheet" href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/dress.css">
</head>
</head>
    <body>
        <div class="banner">
            <img src="/static/images/pic4.jpg" class="banner_img">
        </div>
        <br><br>
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g1.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g1.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g2.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g2.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g3.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g3.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g4.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g4.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g5.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g5.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-1"></div>
     </div>
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g6.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g6.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g7.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g7.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g8.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g8.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g9.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g9.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g10.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g10.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-1"></div>
     </div>
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g11.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g11.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g12.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g12.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g13.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g13.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g14.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g14.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g15.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g15.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g17.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g17.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g16.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g16.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g18.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g18.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g19.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g19.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g20.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g20.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g21.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g21.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g22.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g22.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g23.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g23.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g24.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g24.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g25.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g25.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g26.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g26.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g27.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g27.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g28.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g28.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g29.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g29.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g30.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g30.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g31.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g31.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g32.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g32.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g33.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g33.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g34.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g34.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g35.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g35.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g36.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g36.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g37.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g37.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g38.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g38.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g39.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g39.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g40.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/show_img?img=/static/images/g40.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/cdf1.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/cdf1.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/cdf2.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/cdf2.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/cdf3.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/cdf3.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/cdf4.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/cdf4.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g42.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/show_img?img=/static/images/g42.png" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-1"></div>
     </div>
</body>
</html>