<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>你，被，骗，了</title>
</head>
<body>
    <h3>哈哈哈哈哈哈</h3>
    <h3>里面啥也没有</h3>
    <h3>被套路了吧啦啦啦啦啦</h3>
    <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fwww.yutudou.com%2Fuploads%2Fallimg%2F170512%2F1-1F5120R048.jpg&refer=http%3A%2F%2Fwww.yutudou.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1651476558&t=c2a904a8aad70cbe03fd33f1522e3b6c">
    <br>
    <a href="/search">点此返回搜索页面</a>
</body>
</html>