<!--TODO：补全23行代码，然后回到main.py点运行！-->
<html>
<head>
    <meta charset="UTF-8">
    <title>万能搜索网站(新功能：AI作文)</title>
    <link href="/static/css/search.css" rel="stylesheet">
</head>
<body>
    <img src="/static/images/txt.png">
    <form action="/search_form">
        <input name="word" placeholder="请输入想要搜索的内容">	
        <button class="btn">&#128270</button>
        <br><br><br>
        <input type="radio" name="A组" value="video" checked>&#128250视频
        <input type="radio" name="A组" value="shop">&#128176购物
		<input type="radio" name="A组" value="music">&#127911音乐
		<input type="radio" name="A组" value="image">&#128064图片
		<input type="radio" name="A组" value="txt">&#128195文档
		<input type="radio" name="A组" value="word">&#128210词语
		<br><br>
		<input type="radio" name="A组" value="article">&#128172作文AI
		<!--作答区域23行：补全代码，使用value属性，属性值为"joke"-->
		<input type="radio" name="A组" value="joke"        >&#128541奇怪的按钮
		
    </form>

</body>
</html>


